.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.form-wrap {
  width: 600px;
}

.form > *:not(:first-child) {
  margin-top: 1em;
}

.footer {
  margin-top: 4em;
  font-size: 14px;
  text-align: center;
}
